@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");

*, 
*::before, 
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

::selection {
  background-color: #0b372dbb;
}

.logo{
  width: 100px;
}

header{
  position: absolute;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.9rem 0;
  top: 0;
  left: 0;
}

header nav {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
}

header ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.83rem;
}

.search a{
  font-size: 1.05rem;
  padding: 0 3rem;
}

.hamburger{
  padding-left: 1.5rem;
}

.hamburger a{
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: rgba(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.hamburger .bar{
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border-radius: 2px;
}

.hamburger .bar::before, 
.hamburger .bar::after{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
}

.hamburger .bar::before{
  top: -4.5px;
}

.hamburger .bar::after{
  top: 4.5px;
}

main{
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.parallax{
  pointer-events: none;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bg-img{
  position: absolute;
  width: 3200px;
  top: calc(50% - 450px);
  left: calc(50% + 10px);
  z-index: 1;
}

.fog-1{
  position: absolute;
  z-index: 18;
  width: 3840px;
  top: calc(100%);
}

.fog-2 {
  position: absolute;
  z-index: 4;
  top: calc(50% + 95px);
  left: calc(50% + 7px);
  width: 2333px;
}

.fog-3 {
  position: absolute;
  z-index: 7;
  top: calc(50% + 171px);
  left: calc(50% + 29px);
  width: 749px
}

.fog-4{
  position: absolute;
  z-index: 11;
  top: calc(50% + 242px);
  left: calc(50% - 64px);
  width: 843px;
}

.fog-5 {
  position: absolute;
  z-index: 6;
  top: calc(50% + 149px);
  left: calc(50% - 28px);
  width: 635px;
}

.fog-6 {
  position: absolute;
  z-index: 6;
  top: calc(50% + 127px);
  left: calc(50% - 30px);
  width: 2300px;
}

.mountain-10 { 
  position: absolute;
  z-index: 6;
  top: calc(50% + 69px);
  width: 920px;
  left: calc(50% + 230px);
}

.mountain-9 {
  position: absolute;
  z-index: 9;
  top: calc(50% + 190px);
  width: 573px;
  left: calc(50% - 587px);
}

.mountain-8 {
  position: absolute;
  z-index: 6;
  top: calc(50% + 106px);
  width: 986px;
  left: calc(50% - 242px);
} 

.mountain-7 {
  position: absolute;
  z-index: 8;
  width: 538px;
  top: calc(50% + 123px);
  left: calc(50% + 305px);
}
 
.mountain-6 {
  position: absolute;
  z-index: 10;
  top: calc(50% + 126.5px);
  width: 423.5px;
  left: calc(50% + 610px);
}

.mountain-5 {
  position: absolute;
  z-index: 17;
  top: calc(50% + 269px);
  width: 583px;
  left: calc(50% + 130px);
}
.mountain-4 {
  position: absolute;
  z-index: 17;
  top: calc(50% + 328px);
  width: 1027px;
  left: calc(50% - 490.5px);
}
 
.mountain-3 {
  position: absolute;
  z-index: 15;
  top: calc(50% + 90px);
  left: calc(50% + 786px);
  width: 419px;
}
 

 
.mountain-2{
  position: absolute;
  z-index: 17;
  top: calc(50% + 214px);
  left: calc(50% + 412px);
  width: 725px;
}
 
.mountain-1 {
  position: absolute;
  z-index: 18;
  top: calc(50% + 25px);
  left: calc(50% - 815px);
  width: 650px;
}
.text{
  position: absolute;
  z-index: 9;
  top: calc(50% - 185px);
  left: 50% ;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  pointer-events: auto;
}

.text h2{
  font-weight: 100;
  font-size: 8.5rem;
}
 
.text h1{
  font-weight: 800;
  font-size: 10rem;
  line-height: 0.33;
}

.sun-rays{
  position: absolute;
  z-index: 19;
  top: 0;
  right: 0;
  width: 895px;
  pointer-events: none;
}

.black-shadow{
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}

.vignette{
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: radial-gradient(
    ellipse at center, 
    rgba(0,0,0,0)65%,
    rgba(0,0,0,0.7));
  pointer-events: none;
}
